<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://up.yimg.com/ib/th?id=OIP.RbDmmt0F982-5AzJmXvXtAHaHa&pid=Api&rs=1&c=1&qlt=95&w=115&h=115" alt="Bootstrap" width="30" height="24">
          </a>
          <!----<a class="navbar-brand" href="#">
            <img src="https://media6.ppl-media.com/static/purplle/img/purplle-logo-1.svg" alt="Bootstrap" width="30" height="24">
          </a>-->
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">contactus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">aboutus</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
